<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>SpaceMono-Regular.ttf</string>
		<string>PTSerif-Bold.ttf</string>
		<string>SpaceMono-Bold.ttf</string>
		<string>PTSerif-Italic.ttf</string>
		<string>SpaceMono-BoldItalic.ttf</string>
		<string>PTSerif-BoldItalic.ttf</string>
		<string>SpaceMono-Italic.ttf</string>
		<string>PTSerif-Regular.ttf</string>
	</array>
</dict>
</plist>
