name: Publish API reference

on:
  push:
    tags:
    - '*'

env:
  OUTPUT_PATH: ../docs-temp
  HOSTING_BASE_PATH: yorkie-ios-sdk

jobs:
  build:
    runs-on: macos-12
    steps:
    - uses: actions/checkout@v3
    - name: Generate API reference doc
      run: |
        swift package --allow-writing-to-directory $OUTPUT_PATH \
            generate-documentation --target Yorkie \
            --disable-indexing \
            --output-path $OUTPUT_PATH  \
            --transform-for-static-hosting \
            --hosting-base-path $HOSTING_BASE_PATH
    - uses: actions/checkout@v3
      with:
        ref: gh-pages
    - name: Push API reference doc
      run: |
        rm -rf docs
        mv $OUTPUT_PATH docs
        git add docs
        git commit -m "Updates for version $GITHUB_REF_NAME"
        git push
