name: Integration tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest
    
    env:
      # yorkie server v0.6.28
      YORKIE_RB_URL: "https://raw.githubusercontent.com/Homebrew/homebrew-core/36e1ad784e42ea2c187183c019cd42dc155a63df/Formula/y/yorkie.rb"
      HOMEBREW_DEVELOPER: "1"
        
    steps:
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '16.2'
    - uses: actions/checkout@v4
    - name: Update Brew
      run: brew update
    - name: Setup yorkie server
      run: |
        curl -O ${{ env.YORKIE_RB_URL }} 
        brew install --formula ./yorkie.rb
    - name: Run yorkie server
      run: yorkie server & 
    - name: Run tests
      run: swift test --enable-code-coverage -v --filter YorkieIntegrationTests
