name: Integration tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-13
    steps:
    - uses: actions/checkout@v3
    - name: Setup Docker on macOS using Colima, Lima-VM, and Homebrew.
      uses: douglascamata/setup-docker-macos-action@v2-alpha
      id: docker
    - run: docker-compose -f docker/docker-compose-ci.yml up --build -d
    - name: Run tests
      run: swift test --enable-code-coverage -v --filter YorkieIntegrationTests
    

